*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}


.header{
  width: 100%;
  padding: 15px 0;
  
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: gray;
}

.header_logo{
  color: inherit;
  text-decoration: none;
}

.hero{
  min-height: 100hv;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.hero_conteiner{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-gap: 20px;
}

.hero_about{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero_title{
  margin-bottom: 20px;

  font-size: 40px;
  line-height: 1.1;
}

.hero_subtitle{
  font-size: 32px;
  font-weight: 400px;
}

.hero_links{
  display: flex;
  justify-content: center;
}

.hero_link{
  margin-right: 10px;

  font-size: 30px;
  color: black;

  transition: color 0.3s;
}

.hero_link:hover{
  color: aqua;
}

.hero_box{
  max-width: 500px;
  justify-content: center;
  background-image: 
  linear-gradient(to top, 
  #88d3ce 0%, #6e45e2 100%);;
  
  overflow: hidden;
   border: 10px solid #fff;
   box-shadow: 2px 5px 10px rgba(0,0,0,0.5);

  animation: ava-animate 5s infinite alternate;
  

}

.hero_box_image{
  animation: ava-bg 3s infinite alternate;
}

@media screen and (max-width: 970px) {
  .hero{
    padding-top:  30px;
  }
  .hero_conteiner{
    grid-row-gap: 20px;
  }
  .hero_title{
    font-size: 10px;
    margin-bottom: 10px;
    
  }
  .hero_description{
    display: flex;
    font-size: 14px;
    justify-content: center;
  }
  .hero_subtitle{
    display: flex;
    font-size: 22px;
    font-weight: 400;
    justify-content: center;
  }
  .hero_about{
    text-align: center;
  }
  .hero_link{
    justify-content: center;
  }
  .hero_box{
    max-width: 360px;
  }
  .hero_links{
    justify-content: center;
  }
}

@keyframes ava-animate {
  0%{
    border-radius: 30% 70% 14% 86% 
    / 30% 30% 70% 70% ;
  }
  40% {
    border-radius: 62% 38% 64% 36% 
    / 9% 49% 51% 91%  ;
  }
  60% {
    border-radius: 81% 19% 84% 16% 
    / 18% 85% 15% 82%  ;
  }
  80% {
    border-radius: 50% 50% 82% 18% 
    / 11% 53% 47% 89%  ;
  }
  100%{
    border-radius: 15% 85% 29% 71% 
    / 61% 18% 82% 39% ;
  }
}

@keyframes ava-bg {
  from{
    backgrop-filter: hue-rotate(0)
  }
  to{
    backdrop-filter: hue-rotate (90deg);
  }
}