body {
    margin: 0;
    height: 100%;
    padding: 0;
    background: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: white;
}

.header {
    width: 100%;
    background: lightgray;
}

.dark-mode-headear {
    background-color:rgb(37, 35, 35);
    color: rgb(186, 186, 204);
}

.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-element {
    padding: 15px;
}

.header-element > .btn {
    margin: 15px;
}

.container {
    display: flex;
    flex-direction: row; /* определяет направление по оси (горизонтально или вертикально, в строку или в колонку) */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
    height: 800px;
    width: 300px;
    gap: 5px;
}

.item {
    background: coral;
    font-size: 32px;
    padding: 25px;
}

.calculatorBlock {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
    margin-left: 10px;
}

*, *::before, *::after {
    box-sizing: border-box;
  }


input[type="text"] {
    font-family: inherit; /* 1 */
    font-size: inherit; /* 1 */
    line-height: inherit; /* 1 */
    margin: 10px; /* 2 */
  }

/* установим отступ 1rem от нижнего края элемента */
.text-field {
    margin-bottom: 1rem;
  }
  /* стили для label */
  .text-field__label {
    display: block;
    margin-bottom: 0.25rem;
  }
  /* стили для input */
  .text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

